################################################################################
# grub menu file
################################################################################

menuentry "Main" {
	configfile (hd0,1)/boot/grub.cfg
}
menuentry "---" {
	serial_config
}

########################################

menuentry "Drive (Root)" {
	set groot=/dev/sdb
	linux (hd0,2)/boot/_cur root=${groot}2 ${options_boot} rootdelay=5 setconf=true hostname=tarantula
}
menuentry "Drive (Toor)" {
	set groot=/dev/sdb
	linux (hd0,3)/boot/_cur root=${groot}3 ${options_boot} rootdelay=5 setconf=true hostname=tarantula
}

########################################

menuentry "---" {
	show_env
}
menuentry "Root: Chainload" {
	chainloader (hd0,2)+1
}

menuentry "Root: Current" {
	linux (hd0,2)/boot/_cur root=${groot}2 ${options_boot}
}
menuentry "Root: New" {
	linux (hd0,2)/boot/_new root=${groot}2 ${options_boot}
}
menuentry "Root: Old" {
	linux (hd0,2)/boot/_old root=${groot}2 ${options_boot}
}
menuentry "Root: Rescue" {
	linux (hd0,2)/boot/_kernel root=${groot}2 ${options_boot}
	initrd (hd0,2)/boot/_initrd
}

########################################

menuentry "---" {
	show_env
}
menuentry "Toor: Chainload" {
	chainloader (hd0,3)+1
}

menuentry "Toor: Current" {
	linux (hd0,3)/boot/_cur root=${groot}3 ${options_boot}
}
menuentry "Toor: New" {
	linux (hd0,3)/boot/_new root=${groot}3 ${options_boot}
}
menuentry "Toor: Old" {
	linux (hd0,3)/boot/_old root=${groot}3 ${options_boot}
}
menuentry "Toor: Rescue" {
	linux (hd0,3)/boot/_kernel root=${groot}3 ${options_boot}
	initrd (hd0,3)/boot/_initrd
}

################################################################################
# end of file
################################################################################
